*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
 --b1: #FFFFFF;
 --b2: #F7FAFC;
 --b3: #E2E8F0; 
 --b4: #CBD5E0; 
 --t1: #2D3748;
 --t2: #4A5568;
 --t3: #718096;
 --l1: #E2E8F0;
}


[data-theme="dark"] {
   --b1: #1A202C; 
   --b2: #2D3748;
   --b3: #4A5568; 
   --b4: #718096; 
   --t1: #F7FAFC; 
   --t2: #E2E8F0;
   --t3: #CBD5E0;
   --l1: #2D3748; 
}

[data-theme="Cloudscape Dream"] {
  --b1: #2D3748;
  --b2: #4A5568;
  --b3: #718096;
  --b4: #A0AEC0;
  --t1: #F7FAFC;
  --t2: #E2E8F0;
  --t3: #CBD5E0;
  --l1: #2D3748;
}

